# CIPA development team
* @aderiabine @amjoshi @delrizzo @abtin_gh @RichardHein @jessie.newell @jim.paarsmarkt@mda.space @jkwso @kylejosling @loubsern @maecst @mparmis @mradules @rhuxtable @taylorhuang @willkamp

